@import "tailwindcss";

:root {
  --background: #4A8769;
  --foreground: #006081;
  --primary: #76A49D;
  --primary-light: #1C7693;
  --accent: #006081;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-accent: var(--accent);
  --font-sans: var(--font-cinzel);
  --font-mono: var(--font-geist-mono);
  --font-cursive: var(--font-cinzel);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3e2723;
    --foreground: #efebe9;
    --primary: #a1887f;
    --primary-light: #bcaaa4;
    --accent: #8d6e63;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, 'Cinzel', serif);
  font-weight: 400;
}

.cursive {
  font-family: var(--font-cursive, 'Cinzel', serif);
  font-weight: 700;
}

.bg-wedding-texture {
  background-color: var(--primary-light);
  background-image: 
    radial-gradient(circle at 100% 150%, var(--primary-light) 24%, var(--accent) 24%, var(--accent) 28%, var(--primary-light) 28%, var(--primary-light) 36%, var(--accent) 36%, var(--accent) 40%, transparent 40%, transparent),
    radial-gradient(circle at 0 150%, var(--primary-light) 24%, var(--accent) 24%, var(--accent) 28%, var(--primary-light) 28%, var(--primary-light) 36%, var(--accent) 36%, var(--accent) 40%, transparent 40%, transparent),
    radial-gradient(circle at 50% 100%, var(--accent) 10%, var(--primary-light) 10%, var(--primary-light) 23%, var(--accent) 23%, var(--accent) 30%, var(--primary-light) 30%, var(--primary-light) 43%, var(--accent) 43%, var(--accent) 50%, var(--primary-light) 50%, var(--primary-light) 63%, transparent 63%, transparent),
    radial-gradient(circle at 100% 50%, var(--accent) 5%, var(--primary-light) 5%, var(--primary-light) 15%, var(--accent) 15%, var(--accent) 20%, var(--primary-light) 20%, var(--primary-light) 29%, var(--accent) 29%, var(--accent) 34%, var(--primary-light) 34%, var(--primary-light) 44%, transparent 44%, transparent),
    linear-gradient(var(--primary-light) 20%, var(--accent) 100%);
  background-size: 80px 60px;
  opacity: 0.8;
}
